[submodule "candpiosapp/Externals/ActionSheetPicker"]
	path = candpiosapp/Externals/ActionSheetPicker
	url = git://github.com/TimCinel/ActionSheetPicker.git
[submodule "candpiosapp/Externals/GRMustache"]
	path = candpiosapp/Externals/GRMustache
	url = git://github.com/groue/GRMustache.git
[submodule "candpiosapp/Externals/HPGrowingTextView"]
	path = candpiosapp/Externals/HPGrowingTextView
	url = https://github.com/worklist/HPGrowingTextView.git
[submodule "candpiosapp/Externals/OAuthConsumer"]
	path = candpiosapp/Externals/OAuthConsumer
	url = https://github.com/worklist/oauthconsumer.git
