[submodule "candpiosapp/Externals/AFNetworking"]
	path = candpiosapp/Externals/AFNetworking
	url = git://github.com/AFNetworking/AFNetworking.git
[submodule "candpiosapp/Externals/CustomBadge"]
	path = candpiosapp/Externals/CustomBadge
	url = git://github.com/ckteebe/CustomBadge.git
[submodule "candpiosapp/Externals/WEPopover"]
	path = candpiosapp/Externals/WEPopover
	url = git://github.com/werner77/WEPopover.git
[submodule "candpiosapp/Externals/SSKeychain"]
	path = candpiosapp/Externals/SSKeychain
	url = git://github.com/samsoffes/sskeychain.git
[submodule "candpiosapp/Externals/SVProgressHUD"]
	path = candpiosapp/Externals/SVProgressHUD
	url = git://github.com/samvermette/SVProgressHUD.git
[submodule "candpiosapp/Externals/SVPullToRefresh"]
	path = candpiosapp/Externals/SVPullToRefresh
	url = git://github.com/samvermette/SVPullToRefresh.git
[submodule "candpiosapp/Externals/TPKeyboardAvoiding"]
	path = candpiosapp/Externals/TPKeyboardAvoiding
	url = git://github.com/michaeltyson/TPKeyboardAvoiding.git
[submodule "candpiosapp/Externals/UIImage-Categories"]
	path = candpiosapp/Externals/UIImage-Categories
	url = git://github.com/mbcharbonneau/UIImage-Categories.git
[submodule "candpiosapp/Externals/ActionSheetPicker"]
	path = candpiosapp/Externals/ActionSheetPicker
	url = git://github.com/TimCinel/ActionSheetPicker.git
[submodule "candpiosapp/Externals/GRMustache"]
	path = candpiosapp/Externals/GRMustache
	url = git://github.com/groue/GRMustache.git
[submodule "candpiosapp/Externals/HPGrowingTextView"]
	path = candpiosapp/Externals/HPGrowingTextView
	url = https://github.com/worklist/HPGrowingTextView.git
[submodule "candpiosapp/Externals/OAuthConsumer"]
	path = candpiosapp/Externals/OAuthConsumer
	url = https://github.com/worklist/oauthconsumer.git
