<html>
<head>
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
<style type='text/css'>
    body, img {
        padding: 0;
        margin: 0;
        border: 0;
    }
    
    img.reflect-below {
        -webkit-box-reflect: below 0px;
    }
    
</style>
</head>
<body>
    <img class='reflect-below' src="{{photo-url}}" width="320" height="320" />
</body>
</html>