<html>
<head>

<style type='text/css'>
    @font-face {
        font-family: LeagueGothic;
        font-style: normal;
        src:
            local(LeagueGothic.otf);
    }
    body {
        font-family: "Helvetica Neue";
        font-size: 15px;
        color: rgb(68,68,68);
        padding: 5pt 5pt;
        word-wrap: break-word;
        -webkit-font-smoothing: antialiased;
        -webkit-touch-callout: none;
    }
    #content {
        margin: 0 7px 20px 0;
    }
    h2 {
        font-size: 26px;
        font-family: LeagueGothic;
        color: rgb(66, 128, 131);
        font-weight: normal;
        margin: 0.5em 0;
    }
    
    h2.first-header {
        margin-top: 0;
    }
        
    table {
        border-collapse: collapse;
    }

    a {
        color: #333;
    }   

    #f2f-met {
        font-family: LeagueGothic;
        font-size: 18px;
        border-top: 1px solid #c9c9c9;
        border-bottom: 1px solid #c9c9c9;
        padding: 1px 0;
    }
    #f2f-met .highlite {
        color: rgb(66, 128, 131);
    }

    #summary-header {
        margin-bottom: 0;
    }
    
    #skills-table {
        width: 100%;
    }
    
    #skills-table th {
        text-align: left;
        border-bottom: 1px solid rgba(153, 153, 153, 0.30); 
    }
    
    #skills-table tr {
        padding-left: 5px;
    }
    
    #skills-table td {
        padding-left: 5px;
        border-bottom: 1px solid rgba(153, 153, 153, 0.30); 
        border-right: 1px solid rgba(153, 153, 153, 0.30); 
    }
    
    #skills-table td.last {
        border-right: none;
    }

    #favorite-places-header {
        margin-bottom: 0;
    }

    #favorite-places {
        width: 100%;
        margin-bottom: 1em;
    }
    #favorite-places td {
        border-top: 1px solid #999999;
        width: 110px;
        padding: 11px 0 14px 0;
    }
    #favorite-places tr {
        -webkit-tap-highlight-color: rgba(0,0,0,0);
    }
    #favorite-places tr:active {
        background-color: rgba(0, 0, 0, 0.3);
    }
    #favorite-places td img {
        -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.5);
    }
    #favorite-places th {
        border-top: 1px solid #999999;
        margin: 10px 0;
        font-weight: normal;
        text-align: left;
        color: rgb(102, 102, 102);
    }
    #favorite-places th h3 {
        margin: 0;
        font-size: 26px;
        font-family: LeagueGothic;
        font-weight: normal;
        line-height: 26px;
    }
    #favorite-places th .place-street {
        color: rgb(81, 81, 81);
        font-weight: bold;
        font-size: 12px;
    }
    #favorite-places th .place-distance {
        font-size: 12px;
        margin-bottom: 0.2em;
    }
    #favorite-places th .place-checkins {
        margin: 0;
        font-family: LeagueGothic;
        font-size: 18px;
    }

    #joined-on {
        font-family: LeagueGothic;
        font-size: 18px;
        padding: 4px 0;
    }
    #joined-on .highlite {
        color: rgb(66, 128, 131);
    }

    #connected-networks {
        font-family: LeagueGothic;
        font-size: 28px;
        color: rgb(102, 102, 102);
        width: 100%;
        margin-top: 9px;
    }
    #connected-networks th {
        width: 36px;
        height: 43px;
        text-align:left;
        margin-bottom: 5px;
    }

    .line-top {
        border-top: 1px solid #999999;
    }
    .line-bottom {
        border-bottom: 1px solid #999999;
    }

    dl#work-list dt {
        font-weight: bold;
    }

    dl#smarterer-list dt {
        float: left;
        display: inline-block;
        margin-left: 15px;
        margin-right: 15px;
    }

    dt {
        margin-top: 1em;
    }
    dd {
        margin-left: 0;
    }

    ul#reviews {
        list-style-type: none;
        padding-left: 0;
    }
    ul#reviews .review {
        padding-left: 24px;
        margin: 0.5em 0;
    }
    ul#reviews li {
        margin-bottom: 11px;
    }
    ul#reviews li img {
        float: left;
        margin-top: 5px;
    }
    .join-date {
        display: inline-block;
        width: 39%;
        overflow: hidden;
    }
</style>

<script type="text/javascript">
    function lazyLoad() {
        var lazyImgs, imgUrl;
        lazyImgs = document.getElementsByClassName('lazyImg');
        for (var i = 0; i < lazyImgs.length; i++) {
            var lazyImg = lazyImgs[i];
            imgUrl = lazyImg.getAttribute('data-lazyUrl');
            if (imgUrl) {
                lazyImg.src = imgUrl;
                lazyImg.removeAttribute('data-lazyUrl');
            }
        }       
        
    }    
</script>

</head>
<body>
    <div id="content">
        {{#user}}
            {{#hasAnyTopSkills}}
                <h2 class="line-bottom first-header">Skills</h2>
                <table id="skills-table">
                    <tr>
                        <th>Skill</th>
                        <th>Love</th>
                        <th>Top</th>
                    </tr>    
                    {{#skills}}
                        {{#loveCount}}
                            <tr>
                                <td>{{name}}</td>
                                <td>{{loveCount}}</td>
                                <td class="last">{{rank}}</td>
                            </tr>
                        {{/loveCount}}    
                    {{/skills}}
                </table>
            {{/hasAnyTopSkills}}    
            
            {{#bio}}
            <h2 id="summary-header">Summary</h2>
            <div>{{bio}}</div>
            {{/bio}}
            
            {{#hasAnyFavoritePlaces}}
                <h2 id="favorite-places-header">Often works at...</h2>
                <table id="favorite-places">
                    {{#favoritePlaces}}
                        <tr ontouchstart="" onclick="document.location = 'favorite-venue-id://{{venueID}}';">
                            <td><img class="lazyImg" src="picture-coming-soon@2x.jpg" data-lazyUrl="{{#photoURL}}{{photoURL}}{{/photoURL}}" width="100" height="100"/></td>
                            <th>
                                <h3>{{name}}</h3>
                                <div class="place-checkins">{{checkinTimeString}}</div>
                            </th>
                        </tr>
                    {{/favoritePlaces}}
                </table>
            {{/hasAnyFavoritePlaces}}

            <div id="joined-on" class="line-top line-bottom">
                <span class="join-date">Joined on <span class="highlite">{{join_date}}</span></span>
            </div>

            <table id="connected-networks">
                {{#facebookVerified}}
                <tr>
                    <th><img src="network-icon-facebook@2x.png" height="30" width="30" /></th>
                    <td>Facebook</td>
                </tr>
                {{/facebookVerified}}
                {{#linkedInVerified}}
                <tr ontouchstart="" onclick="document.location = 'linkedin-view://';">
                    <th><img src="network-icon-linkedin@2x.png" height="30" width="30" /></th>
                    <td>LinkedIn</td>
                </tr>
                {{/linkedInVerified}}
            </table>

            {{#hasAnyBadges}}
                <h2 class="line-bottom">Smarterer Badges</h2>
                <dl id="smarterer-list">
                    {{#badges}}
                        <dt>
                            <img class="lazyImg" data-lazyUrl="{{#badgeURL}}{{badgeURL}}{{/badgeURL}}" width="100" height="90"/>
                        </dt>
                    {{/badges}}
                </dl>
                <div style="clear: both"></div>
            {{/hasAnyBadges}}

            {{#hasAnyWorkInformation}}
                <h2 class="line-bottom">Work</h2>
                <dl id="work-list">
                {{#workInformation}}
                        <dt>
                            {{#title}}
                                {{title}} at {{company}}
                            {{/title}}
                            {{^title}}
                                {{company}}
                            {{/title}}
                        </dt>
                        <dd>
                            {{#startDate}}
                                ({{ startDate }} - {{ endDate }})
                            {{/startDate}}
                        </dd>
                    {{#used}}
                        
                    {{/used}}
                {{/workInformation}}
                </dl>
            {{/hasAnyWorkInformation}}

            {{#hasAnyEducationInformation}}
                <h2 class="line-bottom">Education</h2>
                <dl>
                    {{#educationInformation}}
                        <dt>{{school}}</dt>
                        <dd>
                            {{#endDate}}
                                {{#startDate}}
                                    {{startDate}}-{{endDate}}
                                {{/startDate}}
                                {{^startDate}}
                                    {{endDate}}
                                {{/startDate}}
                            {{/endDate}}
                        </dd>
                        <dd>{{degree}}</dd>
                        <dd>{{concentrations}}</dd>
                    {{/educationInformation}}
                </dl>
            {{/hasAnyEducationInformation}}
        {{/user}}

        {{#hasAnyReview}}
            <h2 class="line-bottom">Endorsements</h2>
            <ul id="reviews">
                {{#reviews}}
                    <li>
                        {{#isPositive}}
                            {{#isLove}}
                                <img src="endorse-with-transparent-star@2x.png" width="16" height="16" />
                            {{/isLove}}
                            {{^isLove}}
                                <img src="thumbs-up@2x.png" width="16" height="17" />
                            {{/isLove}}    
                        {{/isPositive}}
                        {{#isNegative}}
                            <img src="thumbs-down@2x.png" width="16" height="17" />
                        {{/isNegative}}
                        <div class="review">
                            {{#isLove}}
                            <div>from {{author}}: "{{review}}"{{#skill}} (Skill: {{skill}}){{/skill}}</div>
                            {{/isLove}}
                            {{^isLove}}
                            <div>{{review}}</div>
                            {{/isLove}}
                        </div>
                    </li>
                {{/reviews}}
            </ul>
        {{/hasAnyReview}}
    </div>
</body>
</html>
