
    {{#user}}
            {{#hasAnyBadges}}
                <h2 class="line-bottom">Smarterer Badges</h2>
                <dl id="smarterer-list">
                    {{#badges}}
                        <dt>
                            <img class="lazyImg" data-lazyUrl="{{#badgeURL}}{{badgeURL}}{{/badgeURL}}" width="100" height="90"/>
                        </dt>
                    {{/badges}}
                </dl>
                <div style="clear: both"></div>
            {{/hasAnyBadges}}
    {{/user}}
            
