<html>
<head>
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
<style type='text/css'>
    body {
        font-family: "Helvetica Neue";
        font-size: 15px;
        color: rgb(68,68,68);
        padding: 5pt 5pt;
        word-wrap: break-word;
        -webkit-font-smoothing: antialiased;
        -webkit-touch-callout: none;
    }
    
    .tab-items,
    #guidelinesTabContent,
    #privacyTabContent,
    .popup-footer {
        display: none;
    }
</style>
</head>
<body>
    <div id="content">
        {{&terms}}
    </div>
</body>
</html>