<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coffeeandpower.android.maps"
    android:versionCode="1"
    android:versionName="0.1"
    android:installLocation="auto" >

    <uses-sdk android:minSdkVersion="7" />
    <uses-permission android:name="android.permission.INTERNET" />
        
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <uses-library android:name="com.google.android.maps" />
        <activity
            android:name=".CoffeeAndPowerActivity"
            android:label="Coffee &amp; Power" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:authorities="com.coffeeandpower.android.maps.provider"
            android:name="com.coffeeandpower.android.maps.CPcontentProvider"
            />
        <service android:name=".CPMapSyncService"/>
    </application>

</manifest>